html{
	height: 100%;
}
body{
	background-color: #999999;
	min-height: 100%;

}

.grid-container{
		display:grid;
		grid-template-rows: 6rem 13rem 18rem 10rem ;
		grid-template-columns: 70% 30%;
			grid-template-areas: 
			"nav-area      nav-area"
			"header-area   header-area"
			"section-area  aside-area"
			"footer-area   footer-area"
;
}

/**.grid2{
grid-template: 
			"nav-area      nav-area"      6rem
			"header-area   header-area"   13rem
			"section-area  section-area"  18rem
			"footer-area   footer-area"   10rem/
			70%            30%
;

}
**/

.grid-gallery{
	display:grid;
	grid-template-columns: repeat(4,auto);
	grid-template-rows: auto auto;

}
      

nav {
	background-color: #00B33C;
	grid-area: nav-area;
}

header{
	background-color: crimson;
	grid-area: header-area;
}

img {
	background-color: #6350ca;
}

section{
	background-color: royalblue;
	grid-area: section-area;
}

aside{
	background-color: #1ac6ff;
	grid-area: aside-area;
}

footer{
	background-color: palevioletred;
	grid-area: footer-area;
}

.img1 {	

}
.img2{
	grid-column-start: 2;
	grid-column-end: 4;
}
.img3{
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}

.img4{
	grid-column-start: 1;
	grid-column-end: 2;
}

/*****************************
CAMBIOS PARA PHONE
******************************/
@media (max-width: 424px){
	nav{
		opacity: 20%;
	}

		.grid-container{
		grid-template:
		"nav-area     " 6rem
		"header-area  " 3rem
		"section-area " auto
		"aside-area   " 3rem
		"footer-area  "18rem /
		;
	}



.grid-gallery{
	grid-template-columns: auto;
	grid-template-rows: repeat(5,3rem);
}


.img2
{
	grid-column-start: 1;
	grid-column-end: 2; 
}
.img3{
	grid-row-start: 3;
	grid-row-end:4;
}

.img4{
	grid-column-start: 1;
	grid-column-end: 3;
}

}

/*****************************
CAMBIOS PARA TABLETA
******************************/

@media
(max-width:620px ){
header,footer,nav

{


width: 100%

.grid-container{

grid-template:
"nav-area     nav-area" 6rem
"header-area  header-area" 13rem
"section-area aside-area" auto
"footer-area  footer-area" 10rem/
70%                  30%;

 
 }

.grid-gallery{
	grid-template-columns: auto;
	grid-template-rows: repeat(7.8rem);
}

.img2
{
	grid-column-start: 1;
	grid-column-end: 2; 
}
.img3{
	grid-row-start: 3;
	grid-row-end:4;
}

.img4{
	grid-column-start: 5;
	grid-column-end: 6;
}